@import 'reset';

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@mixin medium-text {
    font: {
        size: 18px;
        family: Gilroy-Medium;
    }
    color: #070707;
    line-height: 22px;
}

@mixin bold-text {
    font: {
        size: 34px;
        family: Gilroy-Bold;
    }
    color: #070707;
    line-height: 42px;
}
* {
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
._lock {
    overflow: hidden;
 }
 .container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
 }
 @media (max-width: 992px) {
    .container{
        max-width: 769px;
    }

@media (max-width: 768px) {
    .container{
        max-width: 576px;
        padding: 0 30px;
    }
    }

 }
 .header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
 }
 .nav {
    border-bottom: 1px solid #828282;
    &__items {
        height: 89px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-family: Gilroy-Bold;
        font-size: 18px;
        color: #828282;
    }
    &__logo{
        display: none;
    }
 }
 @media (max-width: 767px){
    .nav{
        position: fixed;
        border: none;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0 0 0 26px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    
        &__active {
        left: 0;
        }
        &__logo {
        z-index: 5;
        display: block;
        position: relative;
        cursor: pointer;
        width: 33px;
        height: 20px;
        top: 68px;
        right: -90%;
    }
        &__logo._active span{
        transform: scale(0) translate(0px, -50%);
    }
        &__logo._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: #828282;
    }
        &__logo._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(2px, 50%);
        background-color: #828282;
    }
        &__logo span,
        &__logo::before,
        &__logo::after{
        left: 0;
        position: absolute;
        height: 20%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #070707;
    }
        &__logo::before,
        &__logo::after {
        content: "";
    }
        &__logo::before{
        top: 0;
    }
        &__logo::after {
        bottom: 0;
    }
        &__logo span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
        &__items {
        display: block;

    }
        &__item {
        padding: 0 0 48px 0;
    }
        &__link{
        font-size: 36px;
    }
 }
}
 /* home section*/
.home {
    padding-top: 99px;
    padding-bottom: 104px;
    background-color: white;
    &__header {
        display: flex;
    }
    &__header-title {
        @include medium-text;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: -30px;
    }
    &__main-image {
        overflow: hidden;         
    }   
    
}
    @media (max-width: 767px) {
    .home {
    &__header {
        display: block;
    }
    &__header-title {
        @include medium-text;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 37px;
        margin-top: 20px;
    }
 }
}

 .logo__img {
    padding: 3px 3px 19px 3px;
    margin: 30px 0;
 }
 /* About Me section*/
 .about{
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 107px;
    &__title {
        @include bold-text;
        margin-bottom: 30px;
    }
    &__text {
        margin: 0 auto;
        max-width: 485px;
        height: 218px;
    }
    &__text-item {
        @include medium-text;
        margin-bottom: 40px;
    }
 }
 /*Skills section*/
 .skills{
    text-align: center;
    background-color: white;
    padding-bottom: 110px;
    &__title {
        @include bold-text;
        padding-top: 91px;
        padding-bottom: 69px;
    }
    &__descr {
        @include medium-text;
        margin-bottom: 83px;
    }
    &__items {  
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0 auto;
    }
 }
 @media (max-width: 992px) {
    .col-6 {
     width: 50%;
    }
    @media (max-width: 577px) {
        .col-12 {
            width: 100%;
        }
    }
 }
 /*Portfolio section*/
.portfolio {
    padding-top: 112px;
    padding-bottom: 96px;
    background-color: #f6f6f6;
    text-align: center;
    &__title {
        @include bold-text;
        margin-bottom: 47px;
    }

}
.item {
    &__link{
        display: inline-block;
        margin-top: 44px;
        margin-bottom: 99px;
        @include medium-text;
        color: #070707;
        text-decoration: underline;
    }
    &__img {
        max-width: 100%;
    }
  
}
/*Contacts section*/
.contact {
    background-color: white;
    text-align: center;
    &__title {
        @include bold-text;
        padding-top: 114px;
        padding-bottom: 20px;
    }
    &__text {
        @include medium-text;
        margin-bottom: 43px;
    }
    &__btn {
        /*display: inline-block;*/
        padding: 12px 30px;
        border-radius: 25px;
        width: 180px;
        height: 42px;
        font-family: Gilroy-Bold;
        font-size: 18px;
        color: white;
        background-color: #070707;
        
    }
}
.footer {
    padding-bottom: 123px;
    text-align: center;
    margin-top: 92px;
    &__logo {
        max-width: 342px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__logo-item {
        display: inline-block;
    }
    &__text {
        margin-top: 45px;
        font-family: Gilroy-Medium;
        font-size: 14px;
        line-height: 17px;
        color: #828282;
    }
}

@media (max-width: 577px) {
    .contact {
        &__text {
            &__title{
                margin-bottom: 27px;
            }
            margin-bottom: 52px;
        }
        &__btn {
            width: 316px;

        }
    }
    .footer {
        margin-top: 60px;
    }
}
